#quiz-component-background{
    width:100vw;
    height:100vh;
    background-color: #D4E5E4;
    position: relative;
}
#quiz-component{
    width:60%;
    height:100vh;
    background-color: white;
    position: absolute;
    left:50%;
    transform: translate(-50%);
}
#time-quiz{
    position:absolute;
    display:flex;
    right:150px; 
    top:40px;
}
#time-quiz-time-left{
    font-size: 20px;
    font-weight:700;
}
#quiz-progress{
    margin-left:80px;
}
#full-ques{
    position: absolute;
    top:256px;
    width:90%;
}
#quiz-question-number{
    margin-left:10px;
    font-size:24px ;
    font-weight: 600;
    /* top:196px; */
}
#quiz-question{
    margin-left:10px;
    margin-top:20px;
    /* top:150px;
    position:absolute; */
    font-size: 20px;
    font-weight:500;
    display:flex;
    gap:30px;
}
#quiz-option-list{
    margin-left:10px;
    margin-top:20px;
    width:100%;
}
#quiz-option-list-options{
    height:78px;
    width:100%;
    height:78px;
    width:100%;
    margin-top:10px;
    padding-left:20px;
    display: flex;
    align-items: center;
    border-radius:10px;
    border:1px solid black;
    background: url('/smallrec.svg') left center no-repeat;
    background-size: 9px;
}
#quiz-progress {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  #progress-bar-container {
    position:absolute;
    top:91px;
    width: 80%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  #progress-bar {
    height: 100%;
    background-color:teal; /* Green color for progress */
    border-radius: 5px;
  }
  
  #quiz-next-button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    position:absolute;
    left:53%;
  }
  
  #quiz-next-button:disabled {
    background-color: #b5b5b5;
    cursor: not-allowed;
  }
 #quiz-buttons{
    position:absolute;
    top:748px;
    width:100%;
 } 
  .selected {
    background-color: teal;
    color: white;
  }
  #quiz-previous-button{
    background-color: #b5b5b5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    position:absolute;
    left:30%;
  }
  #quiz-finish-button{
    background-color: #b5b5b5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    position:absolute;
    left:82%;
  }