#past{
    width:100vw;
    height:100vh;
    top:74px;
}
#past-event-head{
    margin-left:20px;
    font-size: 32px;
    font-weight: 600;
    margin-top:100px;
    color:black; 
}
#past-events-cards{
    width:100vw;
    height:80%;
    display:flex;
    flex-wrap: wrap;  
    margin-top:50px;
    justify-content: space-around;
    gap:30px;
}
.card-card{
    height:370px;
    width:510px;
    background-color: aqua;
}