#one-event-details{
    border-radius: 10px;
    background-color:teal;
    height:355px;
    max-width: 756px;
    width:100%;
    position:relative;
}
#name-of-event-1{
    position:absolute;
     height:49px;
     left:27px;
     top:41px;
     font-size:32px;
     font-weight:600;
    color:white;}
#event-details-updated-on{
    font-size:18px ;
    font-weight:700 ;
    color:white;
    padding-left: 15px;
}
#one-event-details1{
    margin-left:27px;
}
#institute{
    position:absolute;
     height:20px;
     top:112px;
     display: flex;
     flex-direction: row;
}
#type-event{
    position:absolute;
     height:20px;
     top:141px;
     display: flex;
     flex-direction: row;

}
#location{
    position:absolute;
    height:20px;
    top:170px;
    display: flex;
    flex-direction: row;
}
.eventname-text-1{
    font-size:16px;
    font-weight: 500;
    padding-left: 15px;
    color:white;

}
.event-name-images-1{
    width:20px;
    height:20px;  
}
#event-skill-0{
    position: absolute;
    top:230px;
    display: flex;
    left:27px;
    width:55%;
    display: flex;
    justify-content: space-around;
}
.event-skill-1{
  top:248px;
  left:54px;
  border: white solid 1px;
  border-radius:10px;
  height:50px;
  width:auto;
  color:white;
  padding:10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top:10px;

}
#register-for-the-event{
    position:absolute;
    top:260px;
    right:30px;
    border-radius: 10px;
    text-align:center;
    padding-top:10px ;
    width:116px;
    height:42px;
    color:white;
    background-color: black;
    font-size:16px ;
    font-weight: 500;

}