#home-browse-by-category{
    position: relative;
    z-index:2;
    width:100vw;
    height:470px;
}
#home-browse-by-category-head{
    position: absolute;
    top:90px;
    left:75px;
    font-size: 32px;
    font-weight: 600;
}
#home-browse-by-category-head-span{
    color:teal;
    font-weight:600
}
#home-browse-by-category-content{
    position: absolute;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    top:186px;
}
.home-browse-by-category-content-box{
    width:216px;
    height:284px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-browse-by-category-content-box-1{
    background-color: #412DB2;
}
.home-browse-by-category-content-box-2{
    background-color: #B37A1D;
}
.home-browse-by-category-content-box-3{
    background-color: #B22D7D;
}
.home-browse-by-category-content-box-4{
    background-color:#2DB28A;
}
.home-browse-by-category-content-box-img{
    height: 149px;
    width:149px;
    background-color: white;
    margin-top:15px;
}
.home-browse-by-category-content-box-name{
    color:white;
    font-size: 20px;
    font-weight: 700px;
    margin-top:15px;
}
.home-browse-by-category-content-box-button{
    height:37px;
    width:116px;
    background-color: #D9D9D9;
    border-radius:10px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    border: 1px black solid;
    color:black; 
}