
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;}
    
    #contout5{
    height:100vh;
    width:100vw;
    position:relative;
    position: relative;
    background: #008080;
    box-sizing: border-box;
    overflow: hidden;
    bottom:0px;
    margin: 0;
    padding: 0;
    }
#container3 {
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    height: 736px;
    width: 817px;
    right:0;
    padding: 0;
    top:0px;
}

#inside {
    position: absolute;
    top: 195px;
    left: 350px;
    height: 51px;
    width: 209px;
    font-size: 42px;
    font-weight: 600;
}
.logo-99{
    position: relative;
    width: 50%;
    max-width: 535px;
    height: 456px;
    left: 8%;
    top:200px;
    height:auto;
}
.radio-group{
    display:flex;
    width:460px;
    height:250px;
    position: absolute;
    top: 284px; 
    left: 460px; 
    transform: translateX(-50%); 
    justify-content: space-between;

}
.op{
    width: 45%;
    padding:10px;
    display:flex;
    flex-direction:column-reverse;
    border:black solid 1px;
    border-radius:10px;
    text-align:center;
}


.radio-label {
    display: flex;
    position:relative;
    align-items: center; 
    font-size: 24px; 
    font-weight: 500;
    margin-top:10px;
    justify-content: center;

}
.radioo{
    width:20px;
    height:13px;
    transform: scale(3); 
    margin-right: 30px; 
} 
.logo1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position:absolute;
    top:150px;
 }
.cross1 {
    position: absolute;
    top: 50px;
    left: 80px;
 }
 
#cont3{
    color: white;
    background-color: black;
    width: 389px;
    height: 40px;
    padding: 10px 170px;
    border-radius: 10px;
    position:absolute;
    top:560px;
    left:265px;

}

@media (max-width: 1322px) {
    #container3 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        height: 736px;
        width: 817px;
        left: calc(100% - 760px);
        padding: 0;
        top:0px;
    }
}
@media (max-width: 1200px) {
    #container3 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        height: 736px;
        width: 817px;
        left: calc(100% - 740px);
        padding: 0;
        top:0px;
    }
/* 
        .white-bg1 {
            width: 65%;
        } */
       
        .logo-99 {
            top:250px;
            left:4%;
            width:40%;
        }
     }
@media (max-width: 1120px) {
    #container3 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        height: 736px;
        width: 817px;
        right:30px;
        padding: 0;
        top:0px;
    }
    .image-sec99 {
        left:5%;
        width:40%;
    }
}
@media screen and (max-width: 992px) {
   
    .logo-99{
        top:300px;
        width: 35%;
        left: 2%;
    }
 }
 @media(max-width:820px){
    #container3 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        height: 736px;
        width: 700px;
        right:-100px;
        padding: 0;
        top:0px;
    }

 }

 @media screen and (max-width: 768px) {
        
    #contout5{
       min-height:100vh;
        width:100vw;
        position:relative;
        background: #008080;
        box-sizing: border-box;
        overflow: hidden;
        bottom:0px;
        margin: 0;
        padding: 0;
        
        }
    #container3{
        
        flex-direction: column;
        justify-content: center;
        height: auto;
        top: 100px;
        left: calc(100% - 817px);
       

    }
    .logo-99{
        position: relative;
        width: auto;
        height:30% !important;
        max-width: 535px;
        height: 456px;
        left: 24%;
        top:10px;
    }
    .cross1 {
        display: none;
    }
 }

 @media(max-width:700px){
    #container3{
        flex-direction: column;
        justify-content: center;
        padding: 1.25rem;
        height: auto;
        top:120px;
        min-height: 100vh;
        left: calc(100% - 817px);
    }
 }
 @media(max-width:675px){
    #container3{
        flex-direction: column;
        justify-content: center;
        padding: 1.25rem;
        height: auto;
        top:120px;
        min-height: 100vh;
        left: calc(100% - 800px);
    }
 }
@media(max-width:630px){
    #container3 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        height: 736px;
        width: 817px;
        left: calc(100% - 790px);
        padding: 0;
    }
}
@media(max-width:600px){
    #container3 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        height: 736px;
        width: 817px;
        left: calc(100% - 770px);
        padding: 0;
    }
}
@media(max-width:580px){
    #container3 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        height: 736px;
        width: 817px;
        left: calc(100% - 740px);
        padding: 0;
    }
}
@media(max-width:550px){
    #container3 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        height: 736px;
        width: 817px;
        left: calc(100% - 720px);
        padding: 0;
    }
}
@media(max-width:490px){
    #container3 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        height: 736px;
        width: 480px;
        left: calc(100% - 750px);
        padding: 0;
    }

    #inside {
        position: absolute;
        top: 195px;
        left:400px;
        height: 51px;
        width: 209px;
        font-size: 42px;
        font-weight: 600;
    }
    .radio-group{
        display:flex;
        width:263px;
        height:129px;
        position: absolute;
        top: 284px; 
        flex-direction:column;
        left: 330px; }

    .option-image{
        display:none;
    }
     .op{
        display:flex;
        width: 100%;
        display:flex;
        flex-direction:column-reverse;
        border:none;
        border-radius:10px;
        padding-left:150px;
        
    } 
    
     .radio-label {
        width:200px;
        font-size: 24px; 
        font-weight: 500;
        margin-top:10px;
        display:flex;
        justify-content:left;
    
    }
    .radioo{
        width:20px;
        height:13px;
        transform: scale(3); 
        
    }  
    #cont3{
        color: white;
        background-color: black;
        width: 200px;
        height: 40px;
        padding: 10px 190px 10px 150px;
        border-radius: 10px;
        position:absolute;
        top:460px;
        left:350px;
    }
}
@media (max-width: 430px){
       #contout5 {
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .logo-99{
        position: relative;
        width: 80%;
        max-width: 535px;
        height: 456px;
        left: 4%;
        top:-230px;
    }
    #container3 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        top:120px;
        height: 360px;
        width: 360px;
        left: calc(100% - 630px);
        padding: 0;
        
    }
    #inside {
        position: relative;
        top:378;
        left: 350px;
        height: 39px;
        width: 156px;
        font-size: 32px;
        font-weight: 600;
    }
    .radio-group{
        display:flex;
        width:263px;
        height:129px;
        position: absolute;
        top: 284px; 
        flex-direction:column;
        left: 330px; }

    .option-image{
        display:none;
    }
     .op{
        display:flex;
        width: 100%;
        display:flex;
        flex-direction:column-reverse;
        border:none;
        border-radius:10px;
        padding-left:100px;
        
    } 
    
     .radio-label {
        width:200px;
        font-size: 24px; 
        font-weight: 500;
        margin-top:10px;
        display:flex;
        justify-content:left;
    
    }
    .radioo{
        width:20px;
        height:13px;
        transform: scale(3); 
        
    }  
    #cont3{
        color: white;
        background-color: black;
        width: 200px;
        height: 40px;
        padding: 10px 200px 10px 140px;
        border-radius: 10px;
        position:absolute;
        top:450px;
        left:265px;
    }
    }
    @media (max-width: 380px){
        #contout5 {
         display:flex;
         justify-content: center;
         align-items:center;
     }
     #container3 {
         text-align: center;
         box-sizing: border-box;
         position: absolute;
         top:120px;
         height: 360px;
         width: 360px;
         left: calc(100% - 620px);
         padding: 0;
         
     }
 }
 @media(min-height:1024px)and(max-height:900px){
    .logo-99{
        top:30px;
    }
    #container3 {
        top:900px ;    
    }
 }
 @media(min-height:850px)and (max-width:500px){
    #container3 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        top:190px;
        height: 360px;
        width: 360px;
        padding: 0;
        
    }}
    @media(min-height:900px)and(max-width:820px){
        #container3 {
            text-align: center;
            box-sizing: border-box;
            position: absolute;
            top:230px;
            height: 360px;
            width: 360px;
            padding: 0;
            
        }

    }