#for-content-and-image{
    display:flex;
    position:absolute;
    top:175px;
    width:60%;
    align-items:center;
    justify-content: space-between;
}
#eventname-back{
    position:relative;
    left:80px;
    height:320px;
    width:500px;
    padding-left: 20px;
    background: url('/border.svg') left center no-repeat;
    background-size: 9px;
}
#name-of-event{
    position:absolute;
     height:49px;
     left:27px;
     top:41px;
     font-size:40px;
     font-weight:600;}
#institute{
    position:absolute;
     height:20px;
     top:112px;
     display: flex;
     flex-direction: row;
}
#type-event{
    position:absolute;
     height:20px;
     top:141px;
     display: flex;
     flex-direction: row;

}
#location{
    position:absolute;
    height:20px;
    top:170px;
    display: flex;
    flex-direction: row;
}
.eventname-text{
    font-size:16px;
    font-weight: 500;
    padding-left: 15px;

}
.event-name-images{
    width:20px;
    height:20px;   
}
#event-updatedon{
    display:flex;
    position:absolute;
    top:207px;
    left:54px;
    font-size:16px;
}
#event-updatedon-1{
   font-weight: 700;
}
#event-skill{
  position:absolute;
  top:248px;
  left:54px;
  border: teal solid 1px;
  border-radius:10px;
  height:50px;
  width:114px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top:10px;

}
#logo-of-event{
    width:156px;
    height:158px;
    background-color: aliceblue;
    border-radius:10px;
    /* margin-left:200px; */
}

