#for-content-and-image{
    display:flex;
    /* position:absolute; */
    margin-top:175px;
    width:100%;
    align-items:center;
    justify-content: space-between;
}
#eventname-back{
    position:relative;
    left:80px;
    height:320px;
    width:500px;
    padding-left: 20px;
    background: url('/border.svg') left center no-repeat;
    background-size: 9px;
}
#name-of-event{
    position:absolute;
     height:49px;
     left:27px;
     top:41px;
     font-size:40px;
     font-weight:600;}
#institute1{
    position:absolute;
     height:20px;
     top:112px;
     display: flex;
     flex-direction: row;
}
#type-event1{
    position:absolute;
     height:20px;
     top:141px;
     display: flex;
     flex-direction: row;

}
#location1{
    position:absolute;
    height:20px;
    top:170px;
    display: flex;
    flex-direction: row;
}
.eventname-text1{
    font-size:16px;
    font-weight: 500;
    padding-left: 15px;

}
.event-name-images{
    width:20px;
    height:20px;   
}
#event-updatedon-1{
    display:flex;
    position:absolute;
    top:207px;
    left:54px;
    font-size:16px;
}
#event-updatedon-1{
   font-weight: 700;
}
#event-skill{
  position:absolute;
  top:248px;
  left:54px;
  border: teal solid 1px;
  border-radius:10px;
  height:50px;
  width:114px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top:10px;

}
#logo-of-event{
    width:156px;
    height:158px;
    background-color: aliceblue;
    border-radius:10px;
    margin-right:30px;
    /* margin-left:200px; */
}
.phone-register-now{
    position: absolute;
    width:fit-content;
    display:none;
    height:50px;
    padding: 5px;
    border-radius:10px;
    background-color: teal;
    color:white;
    font-size:16px;
    font-weight: 700;
    top:248px;
    margin-left:170px;;
}
@media(max-width:1150px){
    #for-content-and-image{
        display:flex;
        margin-top:175px;
        width:100%;
        align-items:center;
        justify-content: space-between;
    }
    
#logo-of-event{
    width:156px;
    height:158px;
    background-color: aliceblue;
    border-radius:10px;
    margin-right:100px;
}
#eventname-back{
    position:relative;
    left:16px;
}
}
@media(max-width:1150px){
    .phone-register-now{
        position: absolute;
        width:fit-content;
        height:40px;
        display:inline;
        padding: 5px;
        border-radius:10px;
        background-color: teal;
        color:white;
        font-size:16px;
        font-weight: 700;
        top:250px;
        margin-left:170px;;
    }
}
@media(max-width:700px){
    #logo-of-event{
        width:156px;
        height:158px;
        background-color: aliceblue;
        border-radius:10px;
        margin-right:50px;
        /* margin-left:200px; */
    }
}
@media(max-width:600px){
    #for-content-and-image{
        display:flex;
        margin-top:50px;
        width:100%;
        align-items:center;
        justify-content: space-between;
    }
    #eventname-back{
        position:relative;
        left:16px;
        height:320px;
        width:500px;
        padding-left: 20px;
        background: url('/border.svg') left center no-repeat;
        background-size: 9px 200px;
    }
    #name-of-event{
         font-size:30px;
         font-weight:600;
        top:70px;}

    #logo-of-event{
        display:none;
    }
    #event-updatedon-1{
        display:flex;
        position:absolute;
        top:190px;
        left:54px;
        font-size:16px;
    }
    #event-skill{
        position:absolute;
        top:220px;
        left:54px;
        border: teal solid 1px;
        border-radius:10px;
        height:40px;
        width:83px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        padding-top:10px;
      
      }
      .phone-register-now{
          position: absolute;
          width:fit-content;
          height:40px;
          display:inline;
          padding: 5px;
          border-radius:10px;
          background-color: teal;
          color:white;
          font-size:16px;
          font-weight: 700;
          top:220px;
          margin-left:170px;;
      }
     
}
@media(max-width:500px){
    #for-content-and-image{
        display:flex;
        /* position:absolute; */
        margin-top:50px;
        width:100%;
        align-items:center;
        justify-content: space-between;
    }
    #name-of-event{
         font-size:30px;
         font-weight:600;
        top:70px;}

    #logo-of-event{
        display:none;
    }
 
    #event-updatedon-1{
       font-weight: 700;
    }
    #event-skill{
      position:absolute;
      top:220px;
      left:54px;
      border: teal solid 1px;
      border-radius:10px;
      height:40px;
      width:83px;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      padding-top:10px;
    
    }
    .phone-register-now{
        position: absolute;
        width:fit-content;
        height:40px;
        padding: 5px;
        border-radius:10px;
        background-color: teal;
        color:white;
        font-size:16px;
        font-weight: 700;
        top:220px;
        margin-left:170px;;
    }
    
     
}


