#nav-event{
    height: 94px;
    width:50%;
    background-color: white;
    border-radius: 10px;
    position:absolute;
    left:80px;
    top:500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-event-options{
    height: 40px;
    width:fit-content;
    padding:10px;
    border:1px solid teal;
    border-radius: 10px;
    padding-top:6px ;
    font-size: 16px;
    font-weight: 500;
}