#nav {
    z-index: 2;
    position: relative;
    height: 74px;
    width: 100vw;
    border-bottom: 1px solid black;
  }
  
  #web-logo {
    position: absolute;
    left: 20px;
    top:10px;
    height: 50px; 
    scale:calc(.5);
  }
  
  #home-nav-options {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    top: 20px;
    right: 80px;
  }
  
  .home-nav-options1 {
    display: flex;
    align-items: center;
    color: teal;
    font-size: 16px;
    font-weight: 600;
  }
  
  .nav-option-text {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .home-nav-buttons {
    display: flex;
    /* gap: 10px; */
  }
  
  .button-home-nav {
    height: 40px;
    width: 80px;
    border: 3px teal solid;
    font-size: 14px;
    font-weight: 500;
    color: teal;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .button-home-nav:hover {
    background-color: teal;
    color: white;
  }
  
  #home-nav-login {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
  }
  
  #home-nav-sign-up {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  