.pswd{
    display: flex;
padding: 15px 269px 15px 14px;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 10px;
background: #D9D9D9;
width:439px;
height:50px;
}

.pass-para{
color: #000;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
height: 45px;
width: 418px;
right: -6%;
position: relative;
flex: 1;
margin: 0;
top:-22px;
}

.pass-para span{
    color:#000;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.pass-button{
margin-top: 30px;
display: flex;
width: 439px;
height: 48px;
padding: 12px 20px;;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 10px;
background: #000;
color:#FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
/* height: 24px;
width:87px; */
}

.square{
    width: 18px;
height: 18px;
display: flex;
align-items: flex-start;
flex-shrink: 0;
position: absolute;
top: 68%;
}
@media screen and (max-width: 420px) {
.box{
    left:-38px;
    position: relative;
}
.pass-para{
    top: -24px;
    left: -15px;
    font-size: 10px;
    width:304px;
}
.pass-button{
left:-43px;
position: relative;
width:133%;
}
}

.eye{
    right:-68px;
}

.pass-para1{
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 45px;
    width: 418px;
    right: -6%;
    position: relative;
    flex: 1;
    margin: 0;
    top:-2px;
    }

    .pass-para1 span{
        color:#000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    }
    @media screen and (max-width: 420px) {
    .pass-para1{
        top: -24px;
        left: -15px;
        font-size: 10px;
        width:304px;
    }
}

@media screen and (max-height: 750px) {
    .pass-button{
        margin-bottom: 0px;
        top:-43px;  
    }
.signin-link{
    top:467px;
    font-size: 12px;
}

}