#part-profile-watchlist{
    max-height: 930px;
    height: 100vh;
    max-width: 847px;
    width: 100%;
    position: relative;
    background-color: white;
    top:74px;
}
#part-profile-watchlist-head{
    position: absolute;
    left:20px;
    font-size: 24px;
    font-weight: 500;
    top:50px;
    color:black;
}