#background-event{
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    min-height:100vh;
    overflow-y:scroll;
    overflow-x:scroll;
    background-color:#D4E5E4;
    z-index:1;
    justify-content: center;
    display: flex;;
}
#register-now-1{
    background-color: teal;
    color:white;
    position:relative;
    width:285px;
    height:53px;
    font-size:16px;
    font-weight:600;
    border-radius:10px;
    top:100px;
    margin-left:17%;
}
#name-part1{
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    top:30px;
    left:50%;
    transform: translate(-50%);
    width:80%;
}
#background-event-all-details{
    width:60vw;
    min-height:100vh; 
}
#background-event-all-details-participant{
    width:40vw;
    min-height:100vh;  
}
@media(max-width:1150px){
    #background-event-all-details-participant{
        display:none; 
    }  
    #background-event-all-details{
        width:100vw;
        min-height:100vh;
        display:flex;
        flex-direction:column;
        align-items: center; 
    }

}
