#home-footer{
    z-index: 2;
    position: relative;
    width:100vw;
    height: 494px;
    background-color: #F1F1F1;
}
#logo-in-footer{
    position: absolute;
    top:47px;
    left:80px;
}
#footer-categories{
    position: absolute;
    top:47px;
    left:481px;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#footer-categories-head{
    font-size:16px;
    font-weight:600 ;
}
#footer-company-head{
    font-size:16px;
    font-weight:600 ;
}
.footer-categories-head-options{
    font-size:14px;
    font-weight:500 ;

}
#footer-company{
    position: absolute;
    top:47px;
    left:665px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}