#home-footer{
    z-index: 2;
    position: relative;
    width:100vw;
    height: 494px;
    background-color: #F1F1F1;
}
#logo-in-footer{
    position: absolute;
    top:47px;
    left:80px;
}
#footer-categories{
    position: absolute;
    top:47px;
    left:481px;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#footer-categories-head{
    font-size:16px;
    font-weight:600 ;
}
#footer-company-head{
    font-size:16px;
    font-weight:600 ;
}
.footer-categories-head-options{
    font-size:14px;
    font-weight:500 ;

}
#footer-company{
    position: absolute;
    top:47px;
    left:665px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media(max-width:1000px){
    
#footer-categories{
    left:400px;
}
#footer-company{
    left:585px;
}
}
@media(max-width:740px){
    
    #footer-categories{
        left:350px;
    }
    #footer-company{
        left:535px;
    }
    }
    @media(max-width:650px){
    
        #footer-categories{
            left:300px;
        }
        #footer-company{
            left:475px;
        }
        #logo-in-footer{
            left:60px;
        }
        }
 @media(max-width:570px){
    
            #footer-categories{
                left:250px;
            }
            #footer-company{
                left:435px;
            }
            #logo-in-footer{
                left:40px;
            }
            }