@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

#contout {
    height:100vh;
    width:100vw;
    position:relative;
    min-height: 100vh;
    position: relative;
    background: #008080;
    box-sizing: border-box;
    overflow: hidden;
    bottom:0px;
    margin: 0;
    padding: 0;
}


#container1 {
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    height: 339px;
    width: 415px;
    left: calc(100% - 575px);
    top: 198px;
    padding: 0;

}

#codemail {
    margin-top: 0;
    height: 51px;
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 16px;
}

#mess1 {
    height: 60px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
    margin-bottom: 51px;
}

.boxes {
    height: 67px;
    width: 60px;
    margin: 0px 10px 51px 10px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
    padding: 21px 10px;
    margin-bottom: 51px;
    text-align: center;
    font-size:21px;
}
/* .image-section2{
    position: relative;
    width: 90%;
    max-width: 535px;
    height: 456px;
    left: 4%;
    top:150px;
} */
.error-border {
    border: 4px solid red  !important;
  }
  

.verify1 {
    color: white;
    background-color: black;
    width: 389px;
    height: 40px;
    padding: 10px 170px;
    border-radius: 10px;
}

.didnt1 {
    height: 20px;
    width: 392px;
    margin-top: 19px;
    font-weight: 500;
    font-size: 16px;
}

#gradient1 {
    color:#008080;
}

.form-section1{
    position: relative;
   width: 392px;
   max-width: 100%;
   padding: 2rem;
   margin-left: auto;
   margin-right: 11%;
   z-index: 1;
 }

@media (max-width: 1274px)and(min-width: 1120px) {
    
#container1 {
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    height: 339px;
    width: 415px;
    left: calc(100% - 500px);
    top: 198px;
    padding: 0;

}
    
@media (max-width: 1120px) and (min-width:960px){
    #container1 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        height: 339px;
        width: 415px;
        left: calc(100% - 450px);
        top: 198px;
        padding: 0;
    
    }
    }
}
@media(max-width:960px){
    #container1 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        height: 339px;
        width: 415px;
        left: calc(100% - 420px);
        top: 198px;
        padding: 0;
    
    }
}
@media screen and (max-width: 768px) {
    #container1{
        flex-direction: column;
        justify-content: center;
        padding: 1.25rem;
        height: auto;
        top:290px;
        min-height: 100vh;
        left: calc(100% - 600px);
    }
    .image-section1{
        position: relative;
        width: 60%;
        max-width: 535px;
        height: 456px;
        left: 4%;
        top:-90px;
    }
    .cross1 {
        display: none;
    }
 }
 @media screen and (max-width: 730px) {
    #container1{
        flex-direction: column;
        justify-content: center;
        padding: 1.25rem;
        height: auto;
        top:290px;
        min-height: 100vh;
        left: calc(100% - 550px);
    }}
@media(max-width:640px)and (min-width:530px){
    #container1 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        height: 339px;
        width: 415px;
        left: calc(100% - 500px);
        top: 290px;
        padding: 0;}
}
@media(max-width:530px)and (min-width:430px){
    #container1 {
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        height: 339px;
        width: 415px;
        left: calc(100% - 400px);
        top: 290px;
        padding: 0;}
}

@media (max-width: 430px){
    #contout{
        /* background-image:  url(../../assets/otp.png),url(../../assets/s.png);
        background-repeat: no-repeat;
        background-position: 10px 75px,bottom ;
        background-size: 350px 228px, 400px 450px; */
        display:flex;
        justify-content: center;
        align-items:center;
    }
    /* }
    .image-section1{
    position: relative;
    width: 90%;
    max-width: 535px;
    height: 456px;
    left: 4%;
    top:150px;
} */
    #container1 {
        text-align: center !important;
        box-sizing: border-box !important;
        position: absolute !important;
        height: 269px !important;
        width: 328px !important;
        top: 290px !important; 
        left: 50% !important; 
        transform: translateX(-50%) !important; 
        padding: 0 !important;
    }
    
    #codemail {
        margin-top: 0;
        height: 39px;
        width:357px;
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 16px;
    }
    
    #mess1 {
        width:328px;
        height: 44px;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 18px;
        line-height: 19.5px;
        margin-bottom: 51px;
    }
    
    .boxes {
        height: 67px;
        width: 60px;
        margin: 0px 10px 51px 10px;
        border: none;
        border-radius: 10px;
        background-color: #D9D9D9;
        padding: 21px 10px;
        margin-bottom: 51px;
    }
    
    .verify1 {
        color: white;
        background-color: black;
        width: 338px;
        height: 40px;
        text-align:center;
        padding: 10px 190px 10px 150px;
        border-radius: 10px;
       
    }
    
    .didnt1 {
        height: 20px;
        width: 338px;
        margin-top: 19px;
        font-weight: 500;
        font-size: 16px;
    }

}

.otp{
    width: 675px;
height: 450px;
flex-shrink: 0;
top:143px;
left:50px;
position: absolute;
}

.back{
    top:50px;
    left:77px;
    position: absolute;
}