#registered-events-part{
    max-height:930px;
    height:100vh;
    max-width:847px;
    width:100vw;
    border:1px solid black;
    position: relative;
    background-color: white;
}
#registered-events-part-head{
    position: absolute;
    left:20px;
    font-size: 24px;
    font-weight: 500;
    top:30px;
}