#part-details{
    position:relative;
    height: 489px;
    width:90%;
    margin-top:130px;
    background-color: white;
    left:50%;
    transform: translate(-50%);
    border-radius:10px;
}
#part-details-1{
    position: absolute;
    top:56px;
    left:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:363px;
}
#part-eligible{
    height:42px ;
    width:106px;
    background-color: #14BE14;
    border-radius:10px;
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top:10px;
}
#tick-svg{
    height:22px;
    width:22px;}
#name-part{
    font-size: 22px;
    font-weight: 500;
}
#email-part{
    font-size: 16px;
    font-weight: 500;
}
#see-details{
    position:absolute;
    top:131px;
    height: 60px;
    width:308px;
    background-color:teal;
    border-radius: 10px;
    left:50%;
    transform: translate(-50%);
    color:white;
}
#line{
    position: absolute;
    top:208px;
    height:1px;
    width:400px;
    border:.5px solid black;
    left:8px;
    /* transform:translate(-50%); */
}
.part-details-info{
    display: flex;  
    position: absolute; 
    left:30px;
    align-items:center;
    font-size: 16px;
    font-weight: 500; 
}
.minor-details{
    
    margin-left: 20px;  
}
#registered{
  top:218px;
}
#team{
  top:298px;
}
#deadline{
  top:378px;
}
.part-details-img{
    height:60px;
    width:60px;
    border-radius:10px;
    background-color: #D9D9D9;
}
