@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* *{
    font-family: "Montserrat", sans-serif;
}  */

    
    .forgot-pass {
        min-height: 100vh;
        width: 100%;
        position: relative;
        background-color: #008080;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden; 
    }

    .fpback{
        width: 40px;
height: 40px;
flex-shrink: 0;
top:50px;
left:80px;
position: absolute
    }
    
    .fphead {
        color: var(--button, #000);
        font-family: Montserrat;
        font-size: 42px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 366px;
height: 51px;
gap: 0px;
margin-bottom: 39px;
}
    
    .fpp {
width: 374px;
height: 48px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin-bottom: 39px;

    } 

    .fpform {
        margin-bottom: 1.5rem;
        position: relative;
        width: 100%;
     }
    
    .fpform label {
        display: block;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
        color: #333;
width: 407px;
height: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #000000;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
text-align: left;
}
    
    .fpform input {
        border:0px;
display: flex;
flex-direction: row;
align-items: center;
padding: 15px 176px 15px 14px;
gap: 10px;
width: 407px;
height: 50px;
background: rgba(217, 217, 217, 0.5);
border-radius: 10px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}
    
    .fpform input:focus {
        outline: none;
        border-color:#008080;
        box-shadow: 0 0 0 2px rgba(0, 128, 128, 0.1);
    }

.fpform input::placeholder{
width: 217px;
height: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
    }
    
    .fpsubmit-btn {
        cursor: pointer;
        transition: background-color 0.3s ease;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 12px 170px; */
gap: 10px;
width: 409px;
height: 48px;
background: #000000;
border-radius: 10px;
flex: none;
order: 3;
flex-grow: 0;
   padding: 0.75rem;
   border: none;
   font-weight: 700;
   font-size: 1.25rem;
   color: #FFFFFF;
    }
    
    .fpsubmit-btn:hover {
        background-color: #333;
    }
    
 /*   @media (max-width: 1200px) {
        .form-section {
            padding: 0 40px;
        }
    }
    
    @media (max-width: 992px) {
        .white-bg {
            width: 100%;
        }
        
        .container {
            flex-direction: column;
        }
        
        .image-section {
            left: 0;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        
        .form-section {
            position: relative;
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            padding: 0 20px;
        }
    }
    
    @media (max-width: 576px) {
        .image-section {
            width: 100%;
            height: auto;
            padding: 0 20px;
        }
    } */ 