.otp{
     top:143px;
     left:80px;
     height: 450px;
width: 675px;
}

@media screen and (max-width: 360px) {
    .otp{
       top:-15px;
    }
 }

 @media screen and (max-width: 1200px) {
   
    .otp {
        width: 35%;
    }
 }

 @media screen and (max-width: 992px) {
    .otp {
        width: 30%;
        left: 4%;
    }
}


@media screen and (max-width: 768px) {
    .otp{
        width: 100%;
        max-width: 370px;
        height: auto;
        left: -12px;
        margin: 0 auto 2rem;
        top:-52px;
    }
}

@media screen and (max-width: 480px) {
   
    .otp {
        max-width: 306px;
        top:-55px;
    }}

    @media screen and (max-width: 415px) {
   
        #formm p, #formm h1{
            font-size: 21px;
        }

        .boxes{
            height:30px;
            width:30px;
        }
        }

    @media screen and (max-height: 700px) {
       
        .otp {
            height: auto;
            max-height: 200px;
            width: 238px;
        }
     }

     @media screen and (max-height: 750px) {
        .otp{
           top:-43px;
        }
     }
     
     @media (max-width: 769px) and (max-height: 950px) {
        #formm {
            top: 86px;
        }
    }

    @media (max-width: 769px)  and (min-height: 951px) {
        #formm {
            top: 96px;
        }
    }