/* #form-section1{
    position: relative;
   width: 392px;
   max-width: 100%;
   padding: 2rem;
   margin-left: auto;
   margin-right: 11%;
   z-index: 1;
 }

 #head{
    color: var(--button, #000);
    text-align: center;
    font-family: Montserrat;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 320px;
    height: 51px;
 } */