#eventlist{
    position: relative;
    z-index:2;
    width:100vw;
    height:100px;
    top:700px;
}
#eventlist-options{
    position: absolute;
    left:80px;
    height:72px;
    width:489px;
    border-radius: 50px;
    background-color: #F1F1F1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    font-weight:500 ;
}
.eventlist-options1{
    display: flex;
}