*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
 #event-and-part{
    display:flex;
 }
 /* #part-profile-container{
    width:100vw;
    height:100vh;
    background-color: #D4E5E4;
 } */
 /* @media(max-width:1170px){
    #part-profile-container{
        width:105vw;
        height:105vh;
        background-color: #D4E5E4;
     }
 } */