
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;}
html{
    background-image: url(./assets/side1.png),url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='817' height='736' viewBox='0 0 817 736' fill='none'%3E%3Cpath d='M113.557 197.139C91.6067 88.8849 171.543 0 282 0H817V736H0C169.402 544.739 145.636 355.345 113.557 197.139Z' fill='white'/%3E%3C/svg%3E");
    background-color: #008080;
    background-repeat: no-repeat ; 
    background-attachment: fixed; 
    background-position: 10% 50%,right;
}
#container{
    text-align: center; 
    box-sizing:border-box;
    position:absolute;
    height:362px;
    width:400px;
    left:880px;
    top:187px;
}
#change{
    width:400px;
    height:51px;
    font-weight:600;
    font-size:42px;
    margin-bottom:37px;
}
.label{
    width:384px;
    height:20px;
    font-weight: 500;
    text-align: left;
    font-size:16px;
    margin-bottom:10px;
}
.cpass{
    height:50px;
    width:384px;
    margin-right:20px;
    padding:15px 14px 15px 14px;
    border:none;
    border-radius:10px;
    margin-bottom:37px;
    font-weight:300;
    background-color:#D9D9D980;
    z-index:1;
    font-size:16px;    
}
#cont{
    color:white;
    margin-bottom:20px;
    background-color:black;
    width:400px;
    height:40px;
    border-radius:10px;
    padding:10px 170px;
    font-weight:600;
    font-size:16px;


}