
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;}
html{
    background-image: url(./assets/side1.png),url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='817' height='736' viewBox='0 0 817 736' fill='none'%3E%3Cpath d='M113.557 197.139C91.6067 88.8849 171.543 0 282 0H817V736H0C169.402 544.739 145.636 355.345 113.557 197.139Z' fill='white'/%3E%3C/svg%3E");
    background-color: #008080;
    background-repeat: no-repeat ; 
    background-attachment: fixed; 
    background-position: 10% 50%,right;
}
#container4{
    text-align: center; 
    box-sizing:border-box;
    position:absolute;
    height:362px;
    width:400px;
    left: calc(100% - 560px);
    top:187px;
}
#change{
    width:400px;
    height:51px;
    font-weight:600;
    font-size:42px;
    margin-bottom:37px;
}
.label{
    width:384px;
    height:20px;
    font-weight: 500;
    text-align: left;
    font-size:16px;
    margin-bottom:10px;
}
.cpass{
    height:50px;
    width:384px;
    margin-right:20px;
    padding:15px 14px 15px 14px;
    border:none;
    border-radius:10px;
    margin-bottom:37px;
    font-weight:300;
    background-color:#D9D9D980;
    z-index:1;
    font-size:16px;    
}
#cont{
    color:white;
    margin-bottom:20px;
    background-color:black;
    width:400px;
    height:40px;
    border-radius:10px;
    padding:10px 170px;
    font-weight:600;
    font-size:16px;}

@media (max-width: 1274px) {
        html {   
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='817' height='736' viewBox='0 0 817 736' fill='none'%3E%3Cpath d='M113.557 197.139C91.6067 88.8849 171.543 0 282 0H817V736H0C169.402 544.739 145.636 355.345 113.557 197.139Z' fill='white'/%3E%3C/svg%3E") !important;
            background-position: right !important; 
        }
    }
@media (max-width: 820px){
    
        #container {
            text-align: center !important;
            box-sizing: border-box;
            position: absolute;
            height: 339px;
            width: 415px;
            left: calc(100% - 400px);
            top: 198px;
            padding: 0;
        }
        }
        @media (max-width: 357px){
            html {
                background-image:  url(./assets/side1.png),url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='357' height='800' viewBox='0 0 357 800' fill='none'%3E%3Cpath d='M251.53 240.285C256.649 208.842 267.202 178.173 284.317 151.305C299.269 127.832 316.306 100.389 323 87C336 61 357 0 357 0V800H0C0 553.648 198.76 564.408 251.53 240.285Z' fill='white'/%3E%3C/svg%3E") !important;
                background-repeat: no-repeat;
                background-position: 60px 75px,top !important;
                background-size: 267px 228px, cover !important;
                display:flex;
                justify-content: center;
                height:100%vh !important;
            }
            #container {
                text-align: center !important;
                box-sizing: border-box;
                position: absolute;
                height: 310px;
                width: 328px;
                top: 326px; 
                left: 65%; 
                transform: translateX(-50%) !important; 
                padding: 0;
            }
        
        }

    