#hostnow{
    position: relative;
    z-index:2;
    height:612px;
    width:100%;
    background-color: #FDF8EE;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
#hostnow-image{
    width:50%;
}
#hostnow-content-head{
   display: flex;
   font-size: 42px;
   font-weight: 600;
}
#hostnow-content-head1{
    font-weight: 600;
}
#hostnow-content-head2{
    font-weight: 600;
    color:teal;
}
#hostnow-content-content{
    font-size: 16px;
   font-weight: 500;
}
#hostnow-content-button{
    height:61px ;
    width:133px;
    margin-top:20px;
    border-radius: 10px;
    background-color: teal;
    color:white;
    font-size: 20px;
   font-weight: 700;
}
@media(max-width:1170px){
    #hostnow{
        height:600px;
    }
    #hostnow-content{
    padding-left:20px; ;
}

}
@media(max-width:1140px){
    #hostnow-content{
    width:500px;
    padding-left:20px; 
}
#hostnow{
    height:500px;
}
#hostnow-image{
    transform: scale(.8);
}
}
@media(max-width:960px){
    #hostnow{
        height:550px;
    }
}
@media(max-width:930px){
    #hostnow{
        height:450px;
    }
    #hostnow-content{
    width:500px;
    padding-left:20px; 
   
}
#hostnow-content-head{
    display: flex;
    font-size: 38px;
    font-weight: 600;
 }
  
#hostnow-image{
    transform: scale(.8);
}
}
@media(max-width:840px){
    #hostnow{
        height:400px;
    }
    #hostnow-content{
    width:500px;
    padding-left:20px; 
   
}
#hostnow-content-head{
    display: flex;
    font-size: 36px;
    font-weight: 600;
 }
  
#hostnow-image{
    transform: scale(.9);
}
}
@media(max-width:790px){
    #hostnow{
        height:350px;
    }
    #hostnow-content-head{
        display: flex;
        font-size: 34px;
        font-weight: 600;
     }
    #hostnow-content-button{
        height:61px ;
        width:110px;
        font-size: 18px;
       font-weight: 700;
    }

}
@media(max-width:750px){
    #hostnow{
        height:340px;
    }
    #hostnow-content-head{
        display: flex;
        font-size: 30px;
        font-weight: 600;
     }
    #hostnow-content-button{
        height:50px ;
        width:100px;
        font-size: 16px;
       font-weight: 700;
    }

}
@media(max-width:670px){
    #hostnow-content-head{
        display: flex;
        font-size: 26px;
        font-weight: 600;
     }
    #hostnow-content-button{
        height:50px ;
        width:90px;
        font-size: 16px;
       font-weight: 700;
    }

}
@media(max-width:580px){
    #hostnow{
        height:300px;
    }
    #hostnow-content-head{
        display: flex;
        font-size: 24px;
        font-weight: 600;
     }
    #hostnow-content-button{
        height:50px ;
        width:90px;
        font-size: 16px;
       font-weight: 700;
    }

}
@media(max-width:560px){
    #hostnow{
        height:200px;
        width:100%;
        background-color: white;
    }
    #hostnow-content-head{
        display: flex;
        font-size: 20px;
        font-weight: 700;
     }
     #hostnow-content-content{
        font-size: 14px;
       font-weight: 400;
    }
    #hostnow-content-button{
        height:35px ;
        width:75px;
        font-size: 12px;
       font-weight: 700;
    }
    #hostnow-image{
        transform: scale(.9);
    }

}
@media(max-width:460px){
    #hostnow-content-head{
       position: absolute;
       top:0px;
       left:16px;
       display: flex;
    }
    #hostnow-content-head1{
        font-weight: 600;
    }
    #hostnow-content-head2{
        font-weight: 600;
        color:teal;
    }
    #hostnow-content-content{
       position: absolute;
       width:161px;
       top:55px;
    }
    #hostnow-content-button{
        position: absolute;
        top:100px; 
    }

}