#backhome{
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    height:100vh;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color:white;
    z-index:1;}
/* #blur1{
    position:relative;
    top: 0;
    left: 0;
    z-index:1;
    background-image:url("./Ellipse.png");

} */